html {
  scroll-behavior: smooth;
}

.sticky-nav {
  position: sticky;
  top: 0;
  background-color: #4c1d5e;
}
.navbar-brand {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.myLink {
  color: #fff;
  font-size: 19px;
  margin-left: 8px;
}
#myDropdown a {
  color: #fff;
  padding: 12px;
}
.navbar-nav a:hover {
  color: #f0e9f2;
}
.dropdown-item:hover {
  background-color: #4c1d5e;
}
.navbar-toggler {
  outline: none;
}
.navbar-toggler span {
  margin-top: 6px;
  margin-bottom: 6px;
  display: block;
  width: 22px;
  height: 2px;
  border: 1px;
  background-color: #fff;
}
.youtubeButton {
  background-color: red !important;
}
.activeLink {
  color: #d654c2;
}
